@using System.Web.Optimization
@using StackExchange.Profiling
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Datanet Admin</title>
    @Styles.Render("~/bundles/css")
    
</head>
<body>
    <div growl limit-messages="1"></div>
    <div class="progress progress-load" ng-class="{active:$root.loading>0,last:$root.loading>60}"></div>
    <!--frame place here-->
	<div class="container-fluid" ng-init="init()" ng-controller="masterCtrl" >
		<div class="container">
			@Html.Partial("Navigation")
		</div>
	</div>
	@try
	{
		@RenderBody()
	}
	catch (Exception ex)
	{
		Response.Redirect("~/login");
	}
    
    @Scripts.Render("~/bundles/Js")
</body>
</html>