<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT adminUom ANY>
<!ATTLIST adminUom id ID #REQUIRED>
<!ELEMENT adminProduct ANY>
<!ATTLIST adminProduct id ID #REQUIRED>
<!ELEMENT adminBuyGroup ANY>
<!ATTLIST adminBuyGroup id ID #REQUIRED>
<!ELEMENT customerMaster ANY>
<!ATTLIST customerMaster id ID #REQUIRED>
<!ELEMENT adminCustomer ANY>
<!ATTLIST adminCustomer id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT quote ANY>
<!ATTLIST quote id ID #REQUIRED>
<!ELEMENT adminCategory ANY>
<!ATTLIST adminCategory id ID #REQUIRED>
<!ELEMENT adminManager ANY>
<!ATTLIST adminManager id ID #REQUIRED>
<!ELEMENT customerOrder ANY>
<!ATTLIST customerOrder id ID #REQUIRED>
<!ELEMENT customerWelcome ANY>
<!ATTLIST customerWelcome id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT customerQuoteToOrder ANY>
<!ATTLIST customerQuoteToOrder id ID #REQUIRED>
<!ELEMENT login1 ANY>
<!ATTLIST login1 id ID #REQUIRED>
<!ELEMENT adminQuoteAndOrder ANY>
<!ATTLIST adminQuoteAndOrder id ID #REQUIRED>
<!ELEMENT customerQuoteAndOrder ANY>
<!ATTLIST customerQuoteAndOrder id ID #REQUIRED>
<!ELEMENT adminEmailTemplate ANY>
<!ATTLIST adminEmailTemplate id ID #REQUIRED>
]>
<root id="-1">
  <master id="1050" key="7a7c1d8c-7a6c-41f7-a1b5-6b1eeada58df" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-28T14:21:48" updateDate="2017-04-14T12:30:32" nodeName="Master" urlName="master" path="-1,1050" isDoc="" nodeType="1047" creatorName="admin" writerName="shouhua" writerID="2" template="1046" nodeTypeAlias="master">
    <adminUom id="1051" key="08a737fd-19c5-4dde-93b6-b55213a05f6a" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2017-02-28T14:22:47" updateDate="2017-03-09T11:34:39" nodeName="UOM" urlName="uom" path="-1,1050,1051" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="adminUom" />
    <adminProduct id="1054" key="a117b050-2aea-41ae-91ab-12d34fe327a7" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2017-02-28T14:56:25" updateDate="2017-03-01T18:03:46" nodeName="Product" urlName="product" path="-1,1050,1054" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1052" nodeTypeAlias="adminProduct" />
    <adminBuyGroup id="1057" key="45c20a36-dd32-4abb-bc61-932b3211d4f5" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2017-03-03T13:57:24" updateDate="2017-03-15T09:35:50" nodeName="BuyerGroup" urlName="buyergroup" path="-1,1050,1057" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="adminBuyGroup" />
    <adminCustomer id="2062" key="ddc1fc43-7f8e-4a94-9c74-62cfe13d7c35" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2017-03-06T17:10:22" updateDate="2017-03-16T17:27:27" nodeName="Customer" urlName="customer" path="-1,1050,2062" isDoc="" nodeType="2061" creatorName="admin" writerName="dawei" writerID="1" template="2060" nodeTypeAlias="adminCustomer" />
    <adminCategory id="2071" key="3bd8091d-db12-4f2b-826f-2741fa2d5092" parentID="1050" level="2" creatorID="0" sortOrder="4" createDate="2017-03-14T14:55:00" updateDate="2017-03-14T14:55:00" nodeName="Category" urlName="category" path="-1,1050,2071" isDoc="" nodeType="2070" creatorName="admin" writerName="admin" writerID="0" template="2069" nodeTypeAlias="adminCategory" />
    <adminManager id="2074" key="7833abcc-e921-4f09-b076-5c2ef8c1b065" parentID="1050" level="2" creatorID="0" sortOrder="5" createDate="2017-03-14T15:26:11" updateDate="2017-03-14T15:26:11" nodeName="Manager" urlName="manager" path="-1,1050,2074" isDoc="" nodeType="2073" creatorName="admin" writerName="admin" writerID="0" template="2072" nodeTypeAlias="adminManager" />
    <adminQuoteAndOrder id="2095" key="d35e88f8-b59a-4634-a975-063e235451b4" parentID="1050" level="2" creatorID="0" sortOrder="6" createDate="2017-03-24T14:18:40" updateDate="2017-03-24T14:18:40" nodeName="Quote&amp;Order" urlName="quoteorder" path="-1,1050,2095" isDoc="" nodeType="2094" creatorName="admin" writerName="admin" writerID="0" template="2093" nodeTypeAlias="adminQuoteAndOrder" />
    <adminEmailTemplate id="2101" key="fe5db1e9-4e9f-4e5b-bc44-ef6dd643376d" parentID="1050" level="2" creatorID="0" sortOrder="7" createDate="2017-04-07T13:32:11" updateDate="2017-04-07T13:32:27" nodeName="Email Template" urlName="email-template" path="-1,1050,2101" isDoc="" nodeType="2100" creatorName="admin" writerName="admin" writerID="0" template="2099" nodeTypeAlias="adminEmailTemplate" />
  </master>
  <customerMaster id="2059" key="12e417e6-f8b4-48fa-ac9b-8e60a32c7b65" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-03-03T15:26:39" updateDate="2017-03-03T15:26:39" nodeName="CustomerMaster" urlName="customermaster" path="-1,2059" isDoc="" nodeType="2058" creatorName="admin" writerName="admin" writerID="0" template="2057" nodeTypeAlias="customerMaster">
    <products id="2065" key="c1ee9919-609a-4577-9cd9-139550881460" parentID="2059" level="2" creatorID="0" sortOrder="0" createDate="2017-03-09T09:53:47" updateDate="2017-03-16T13:59:21" nodeName="Products" urlName="products" path="-1,2059,2065" isDoc="" nodeType="2064" creatorName="admin" writerName="admin" writerID="0" template="2063" nodeTypeAlias="products" />
    <quote id="2068" key="97356df4-ae5d-4c92-8700-0ff802853112" parentID="2059" level="2" creatorID="0" sortOrder="1" createDate="2017-03-10T15:54:11" updateDate="2017-03-10T15:54:11" nodeName="Quote" urlName="quote" path="-1,2059,2068" isDoc="" nodeType="2067" creatorName="admin" writerName="admin" writerID="0" template="2066" nodeTypeAlias="quote" />
    <customerWelcome id="2081" key="fb9e215c-b3e6-4765-8d27-9afbe0423e26" parentID="2059" level="2" creatorID="0" sortOrder="2" createDate="2017-03-16T13:46:15" updateDate="2017-03-16T13:57:17" nodeName="Welcome" urlName="welcome" path="-1,2059,2081" isDoc="" nodeType="2080" creatorName="admin" writerName="admin" writerID="0" template="2079" nodeTypeAlias="customerWelcome" />
    <customerOrder id="2082" key="23a367ae-9a93-4ead-877d-c6148f653fc1" parentID="2059" level="2" creatorID="0" sortOrder="3" createDate="2017-03-16T14:01:26" updateDate="2017-03-16T14:01:31" nodeName="Order" urlName="order" path="-1,2059,2082" isDoc="" nodeType="2078" creatorName="admin" writerName="admin" writerID="0" template="2077" nodeTypeAlias="customerOrder" />
    <customerQuoteToOrder id="2088" key="d67367a2-eb17-4c7d-8f41-d50f0da3ddc4" parentID="2059" level="2" creatorID="0" sortOrder="4" createDate="2017-03-16T14:36:29" updateDate="2017-03-16T14:41:16" nodeName="QToOrder" urlName="qtoorder" path="-1,2059,2088" isDoc="" nodeType="2087" creatorName="admin" writerName="admin" writerID="0" template="2086" nodeTypeAlias="customerQuoteToOrder" />
    <customerQuoteAndOrder id="2098" key="ad1de677-c9f3-4b37-b756-2477f3b5bfd6" parentID="2059" level="2" creatorID="0" sortOrder="5" createDate="2017-04-01T14:17:40" updateDate="2017-04-01T14:17:40" nodeName="QAndOrder" urlName="qandorder" path="-1,2059,2098" isDoc="" nodeType="2097" creatorName="admin" writerName="admin" writerID="0" template="2096" nodeTypeAlias="customerQuoteAndOrder" />
  </customerMaster>
  <login id="2085" key="93ff196b-b882-4950-b161-56b9b35bb987" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2017-03-16T14:22:24" updateDate="2017-04-14T12:30:28" nodeName="LoginMaster" urlName="loginmaster" path="-1,2085" isDoc="" nodeType="2084" creatorName="admin" writerName="shouhua" writerID="2" template="2083" nodeTypeAlias="login">
    <login1 id="2091" key="d7aeedc8-2ce9-4582-a4bf-e62447df1322" parentID="2085" level="2" creatorID="0" sortOrder="0" createDate="2017-03-16T16:09:41" updateDate="2017-03-16T18:22:26" nodeName="Login" urlName="login" path="-1,2085,2091" isDoc="" nodeType="2090" creatorName="admin" writerName="admin" writerID="0" template="2089" nodeTypeAlias="login1" />
  </login>
</root>