<div class="container qandorder-wrap" ng-init="init()">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active" ng-click="toQuotes()">
            <a href="#quotes" data-toggle="tab">
                Quotes
            </a>
        </li>
        <li ng-click="toOrders()"><a href="#orders" data-toggle="tab">Orders</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="quotes">
            <form class="search-form form-inline " style="margin-top:10px">
                <select name="dateFilter" ng-model="dateFilter" class="form-control">
                    <option value="0">All</option>
                    <option value="1">Latest year</option>
                    <option value="2">Latest Month</option>
                    <option value="3">Latest Week</option>
                </select>
                <input class="form-control" type="text" placeholder="Search for Quote Code" ng-model="searchQuoteCode">
                <button type="submit" class="btn btn-default" ng-click="$root.checkIfEdit()&&getQuotes()">Search</button>
          
            </form>
            <table class="table table-hover table_adjust">
                <thead class="thead-inverse">
                    <tr>
                        <th width="5%">#</th>
                        <th width="7%">Code</th>
                        <th width="8%" class="text-right">Amount</th>
                        <th width="15%" class="table_manager" style="text-align:center">Manager</th>
                        <th width="20%">Created Time</th>
                        <th width="10%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="quote in quotes track by quote.Id">
                        <td data-title="#">{{$index+1}}</td>
                        <td data-title="Code">
                            {{quote.QuoteCode}}
                        </td>
                        <td class="text-right" data-title="Amount">
                            {{quote.Amount| currency : "$"}}
                        </td>
                        <!--<td>
                    {{quote.GST}}
                </td>
                <td>
                    {{quote.DeliveryCharge}}
                </td>-->
                        <td data-title="Manager" class="table_manager" >
                            {{quote.ManagerName}}
                        </td>
                        <td data-title="Created Time">
                            {{quote.CreateTime|timezone}}
                        </td>
                        <td class="center-text">
                            <button class="btn-icon cursor-pointer action-btn" ng-click="showDetail(quote,$event)" title="Show detail">
                                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M3,3H21V5H3V3M3,7H15V9H3V7M3,11H21V13H3V11M3,15H15V17H3V15M3,19H21V21H3V19Z" />
                                </svg>
                            </button>
                            <button class="btn-icon cursor-pointer action-btn" ng-click="quoteToOrder(quote)" title="Go to order"
                                    style="margin-left:30px">
                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 8V4l8 8-8 8v-4H4V8z" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="$root.checkIfEdit()&&getQuotes(page)"></custom-pager>
            </div>
        </div>
        <div class="tab-pane fade" id="orders">
            <form class="search-form form-inline " style="margin-top:10px">
                <select name="dateFilterForOrder" ng-model="dateFilterForOrder" class="form-control">
                    <option value="0">All</option>
                    <option value="1">Latest year</option>
                    <option value="2">Latest Month</option>
                    <option value="3">Latest Week</option>
                </select>
                <input class="form-control" type="text" placeholder="Search for Order Code" ng-model="searchOrderCode">
                <button type="submit" class="btn btn-default" ng-click="$root.checkIfEdit()&&getOrders()">Search</button>
            </form>
            <table class="table table-hover table_adjust">
                <thead class="thead-inverse">
                    <tr>
                        <th width="5%">#</th>
                        <th width="7%">Code</th>
                        <th width="8%" class="text-right">Amount</th>
                        <!--<th width="8%">GST</th>
                <th width="20%">Delivery Charge</th>-->
                        <th width="15%" class="table_manager" style="text-align:center">Manager</th>
                        <th width="20%">Created Time</th>
                        <th width="10%">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders track by order.Id">
                        <td data-title="#">{{$index+1}}</td>
                        <td data-title="Code">
                            {{order.OrderCode}}
                        </td>
                        <td class="text-right" data-title="Amount">
                            {{order.Amount|currency : "$"}}
                        </td>
                        <!--<td>
                    {{order.GST}}
                </td>
                <td>
                    {{order.DeliveryCharge}}
                </td>-->
                        <td data-title="Manager" class="table_manager">
                            {{order.ManagerName}}
                        </td>
                        <td data-title="Created Time">
                            {{order.CreateTime|timezone}}
                        </td>
                        <td class="center-text">
                            <button class="btn-icon cursor-pointer action-btn" ng-click="showDetail(order,$event)" title="Show detail">
                                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M3,3H21V5H3V3M3,7H15V9H3V7M3,11H21V13H3V11M3,15H15V17H3V15M3,19H21V21H3V19Z" />
                                </svg>
                            </button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <custom-pager page="{{pageOrder}}" pages-count="{{pagesCountOrder}}" total-count="{{totalCountOrder}}" search-func="$root.checkIfEdit()&&getOrders(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>