customer-quote {
  /*.order-total span {
        width: 90px;
        margin-right: 0px;
        float: right;
        overflow: hidden;
        height: 20px;
    }*/
}
customer-quote * {
  margin: 0,20px,0,0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
customer-quote .multiSelect .buttonLabel {
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
}
customer-quote .ctrl-wrap {
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
customer-quote .ctrl-wrap span {
  color: #000;
  font-weight: bold;
  display: inline-block;
  width: 95px;
  height: 20px;
  text-align: right;
}
customer-quote button.btn.btn-link.order-address:hover {
  color: red;
}
customer-quote .order-total {
  float: right;
  margin-right: 50px;
}
customer-quote .order-total span {
  width: 95px;
  display: inline-block;
  height: 20px;
  margin-right: 0px;
  float: right;
  overflow: hidden;
  text-align: right;
}
customer-quote .order-address {
  position: relative;
  left: 8px;
}
customer-quote .order-total {
  margin-right: 0px;
}
customer-quote section {
  margin-bottom: 20px;
}
customer-quote .order-show hr {
  background: #333;
  height: 3px;
}
customer-quote .order-show form[name="quoteForm"] {
  padding-left: 30px;
  padding-right: 13px;
}
customer-quote .order-show form[name="quoteForm"] .form-group .add-new-address {
  margin-left: -15px;
}
customer-quote .order-show form[name="quoteForm"] .form-group {
  margin-left: -15px;
}
customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
  margin-left: -7px;
  min-width: 250px;
}
customer-quote .order-show form > .control-group {
  margin-bottom: 35px;
}
customer-quote .order-show form > .control-group .btn-link {
  margin-left: -15px;
}
customer-quote .order-show form > .control-group input {
  width: 95%;
}
customer-quote .order-show .purchase-doc {
  margin-top: 15px;
}
customer-quote .order-show .file-btn {
  margin-top: 15px;
}
customer-quote .order-show .quote-address {
  font-weight: normal;
  margin-top: 12px;
}
@media (max-width: 370px) {
  customer-quote .checkboxLayer.show {
    max-width: 300px;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
    width: 100%;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group {
    margin-bottom: 35px;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .form-control {
    margin-bottom: 5px;
  }
  customer-quote .multiSelect .buttonLabel {
    max-width: 300px;
  }
  customer-quote .ctrl-wrap .ctrl-thead {
    display: none;
  }
  customer-quote form[name="quoteForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-quote .ctrl-wrap .Delivery-charge {
    float: left;
    margin-top: -6px;
    padding-left: 16px;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
    text-align: right;
  }
  customer-quote .order-total {
    margin-right: 0px;
  }
  customer-quote .order-total span {
    width: 90px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-quote ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-quote ul .list-group-item {
    padding: 10px 15px;
  }
  customer-quote ul .list-group-item .order-type {
    display: inline-block;
    width: 200px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    text-align: left;
  }
  customer-quote ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 115px;
    overflow: hidden;
    height: 26px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 73px;
    float: right;
  }
  customer-quote ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-quote ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-quote ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-quote ul .list-group-item .order-sum {
    float: left;
    width: 130px;
    overflow: hidden;
    height: 20px;
    margin-left: 64px;
  }
  customer-quote ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-quote ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-quote .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 17px;
  }
  customer-quote .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 7px;
    width: 140px;
    overflow: hidden;
  }
  customer-quote .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 8px;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  customer-quote .ctrl-wrap .ctrl-thead {
    display: none;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
    width: 100%;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group {
    margin-bottom: 35px;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .form-control {
    margin-bottom: 5px;
  }
  customer-quote .checkboxLayer.show {
    max-width: 300px;
  }
  customer-quote .multiSelect .buttonLabel {
    max-width: 370px;
  }
  customer-quote form[name="quoteForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-quote .ctrl-wrap .Delivery-charge {
    float: left;
    margin-top: -6px;
    padding-left: 16px;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
    text-align: right;
  }
  customer-quote ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-quote ul .list-group-item {
    padding: 10px 15px;
  }
  customer-quote ul .list-group-item .order-type {
    width: 200px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    display: block;
    text-align: left;
  }
  customer-quote ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 115px;
    overflow: hidden;
    height: 26px;
  }
  customer-quote ul .list-group-item .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 73px;
    float: right;
    top: -25px;
  }
  customer-quote ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-quote ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-quote ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-quote ul .list-group-item .order-sum {
    margin-top: 10px;
    width: 140px;
    overflow: hidden;
    height: 20px;
    margin-left: 64px;
  }
  customer-quote ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-quote ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote ul .list-group-item .btn {
    margin-top: -25px;
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-quote .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 17px;
  }
  customer-quote .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 7px;
    width: 140px;
    overflow: hidden;
  }
  customer-quote .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 8px;
  }
}
@media (min-width: 768px) {
  customer-quote .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 210px;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 80px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-quote #price_box {
    margin-top: 18px;
    float: right;
  }
  customer-quote .order-show ul .list-group-item .btn {
    margin-top: 16px;
  }
  customer-quote .order-show ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote .order-show form[name="quoteForm"] input[type="email"] {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  customer-quote .order-show form[name="quoteForm"] input[name="contactName"] {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  customer-quote .order-show form[name="quoteForm"] input[name="contactPhone"] {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  customer-quote .order-show form[name="quoteForm"] input[name="contactEmail"] {
    margin-left: 9px;
  }
  customer-quote .order-show form[name="quoteForm"] .row {
    margin-top: 15px;
    /*div {
                        display: inline-block;
                        margin-left: 10px;
                    }*/
  }
  customer-quote .order-show form[name="quoteForm"] .row label {
    width: 168px;
    text-align: right;
  }
  customer-quote .order-show form[name="quoteForm"] .row .btn-default {
    display: block;
    width: 40px;
    margin-left: 180px;
    margin-top: 5px;
  }
  customer-quote .order-show form[name="quoteForm"] .row button[type="file"] {
    margin-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  customer-quote button.btn.btn-link.order-address:hover {
    color: red;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
    width: 100%;
  }
  customer-quote .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 40px;
    overflow: hidden;
  }
  customer-quote .checkboxLayer.show {
    max-width: 375px;
  }
  customer-quote .buttonLabel {
    max-width: 475px;
  }
  customer-quote .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-quote .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-good {
    width: 150px;
    text-align: right;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 11px;
    text-align: right;
    margin-left: 78px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
    padding-right: 6px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-operate {
    width: 75px;
    text-align: center;
  }
  customer-quote .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 210px;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-quote .order-total {
    margin-right: 50px;
  }
  customer-quote .order-total span {
    width: 95px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-quote ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-quote ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-quote ul .list-group-item .order-type {
    width: 380px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    display: inline-block;
    text-align: left;
  }
  customer-quote ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-quote ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-quote ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-quote ul .list-group-item .order-sum {
    display: inline-block;
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    text-align: right;
    margin-right: 20px;
  }
  customer-quote ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-quote ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote ul .list-group-item .btn {
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-quote form[name="quoteForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-quote form[name="quoteForm"] .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  customer-quote form[name="quoteForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-quote form[name="quoteForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group label {
    margin-left: 60px;
  }
  customer-quote form[name="quoteForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-quote form[name="quoteForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-quote form[name="quoteForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 40px;
    left: 6px;
  }
  customer-quote form[name="quoteForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  customer-quote form[name="orderForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-quote form[name="orderForm"] .control-group {
    margin-left: -15px;
    position: relative;
  }
  customer-quote form[name="orderForm"] .control-group .order-address {
    position: relative;
    top: 25px;
    left: 14px;
  }
  customer-quote form[name="orderForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: 5px;
    left: 150px;
  }
  customer-quote form[name="orderForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 25px;
  }
  customer-quote .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 101px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 51px;
  }
  customer-quote .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 91px;
    width: 140px;
    overflow: hidden;
  }
  customer-quote .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 92px;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  customer-quote {
    /*与order页面不同*/
    /*.ctrl-wrap .Delivery-charge {
            position: absolute;
            margin-top: -6px;
            right: 210px;
        }*/
  }
  customer-quote .navbar-form {
    margin-right: -30px;
  }
  customer-quote .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 40px;
    overflow: hidden;
  }
  customer-quote .checkboxLayer.show {
    max-width: 375px;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
    width: 100%;
  }
  customer-quote .buttonLabel {
    width: 690px;
  }
  customer-quote .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-quote .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-good {
    width: 160px;
    text-align: right;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 11px;
    text-align: right;
    margin-left: 287px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-quote .order-total {
    margin-right: 50px;
  }
  customer-quote .order-total span {
    width: 95px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-quote form[name="quoteForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-quote form[name="quoteForm"] .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  customer-quote form[name="quoteForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 32px;
    left: 6px;
  }
  customer-quote ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-quote ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-quote ul .list-group-item .order-type {
    display: inline-block;
    width: 400px;
    height: 38px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    text-align: left;
  }
  customer-quote ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-quote ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-quote ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-quote ul .list-group-item .order-sum {
    display: inline-block;
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    text-align: right;
    margin-right: 20px;
  }
  customer-quote ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-quote ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-quote form[name="quoteForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-quote form[name="quoteForm"] .form-group {
    position: relative;
    /**/
  }
  customer-quote form[name="quoteForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-quote form[name="quoteForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group label {
    margin-left: 60px;
  }
  customer-quote form[name="quoteForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-quote form[name="quoteForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 40px;
    left: 6px;
  }
  customer-quote form[name="quoteForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  customer-quote form[name="quoteForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-quote form[name="quoteForm"] .control-group {
    margin-left: -15px;
    position: relative;
  }
  customer-quote form[name="quoteForm"] .control-group .order-address {
    position: relative;
    top: 25px;
    left: 14px;
  }
  customer-quote form[name="quoteForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: 2px;
    left: 150px;
  }
  customer-quote form[name="quoteForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 25px;
  }
  customer-quote .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 50px;
  }
  customer-quote .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 90px;
    width: 140px;
    overflow: hidden;
  }
  customer-quote .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 71px;
    position: absolute;
    right: 91px;
  }
}
@media (min-width: 1170px) {
  customer-quote .checkboxLayer.show {
    max-width: 375px;
  }
  customer-quote .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 40px;
    overflow: hidden;
  }
  customer-quote .order-show form[name="quoteForm"] .form-group .multiSelect > button {
    width: 100%;
  }
  customer-quote .buttonLabel {
    width: 790px;
  }
  customer-quote .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-quote .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-good {
    width: 250px;
    text-align: center;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 11px;
    text-align: right;
    margin-left: 427px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
  }
  customer-quote .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-quote .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 205px;
  }
  customer-quote .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-quote form[name="quoteForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-quote form[name="quoteForm"] .control-group {
    margin-left: -15px;
    position: relative;
  }
  customer-quote form[name="quoteForm"] .control-group .order-address {
    position: relative;
    top: 25px;
    left: 14px;
  }
  customer-quote form[name="quoteForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: 5px;
    left: 150px;
  }
  customer-quote form[name="quoteForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 25px;
  }
  customer-quote form[name="quoteForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-quote form[name="quoteForm"] .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  customer-quote form[name="quoteForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-quote form[name="quoteForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-quote form[name="quoteForm"] .form-group label {
    margin-left: 60px;
  }
  customer-quote form[name="quoteForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-quote form[name="quoteForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-quote form[name="quoteForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 40px;
    left: 6px;
  }
  customer-quote form[name="quoteForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  customer-quote .order-total span {
    width: 95px;
    display: inline-block;
    height: 20px;
  }
  customer-quote ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-quote ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-quote ul .list-group-item .order-type {
    display: inline-block;
    width: 400px;
    height: 38px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    text-align: left;
  }
  customer-quote ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-quote ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-quote ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-quote ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-quote ul .list-group-item .order-sum {
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
  }
  customer-quote ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-quote ul .list-group-item .btn:hover {
    color: red;
  }
  customer-quote ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-quote .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 100px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 99px;
  }
  customer-quote .ctrl-wrap .cart_money .order-total span {
    width: 95px;
    text-align: right;
    display: inline-block;
    height: 20px;
  }
  customer-quote .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 89px;
    width: 140px;
    overflow: hidden;
  }
  customer-quote .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 90px;
  }
}
customer-quote .clear-btn:hover {
  color: red;
}
form[name="addressForm"] {
  position: relative;
}
form[name="addressForm"] label {
  display: inline-block;
  width: 65px;
  top: 5px;
  position: relative;
}
form[name="addressForm"] .address-mesg {
  display: inline-block;
  margin-left: 15px;
}
form[name="addressForm"] .form-control {
  margin-top: 10px;
}