admin-uom .child-tr table {
  table-layout: fixed;
}
admin-uom .child-tr table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
admin-uom .child-tr .child-td form {
  width: 50%;
  margin: auto;
}