customer-order * {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
customer-order .multiSelect .buttonLabel {
  white-space: normal;
  word-break: break-word;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  customer-order .checkboxLayer.show {
    max-width: 304px;
  }
  customer-order .multiSelect .buttonLabel {
    max-width: 300px;
  }
}
customer-order button.btn.btn-link.order-address {
  margin-left: -15px;
}
customer-order .order-show form[name="orderForm"] .row .btn_file {
  font-size: 14px;
}
customer-order span.contract-number.ng-binding.ng-scope {
  font-size: 14px;
  margin-left: 10px;
}
customer-order .multiSelect .clearButton {
  right: 16px;
}
customer-order .order-show form > .control-group input {
  width: 95%;
}
customer-order .ctrl-wrap {
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
customer-order .ctrl-wrap span {
  color: #000;
  font-weight: bold;
  display: inline-block;
  width: 95px;
  height: 20px;
  text-align: right;
}
customer-order .order-total {
  float: right;
  margin-right: 50px;
}
customer-order .order-total span {
  width: 95px;
  display: inline-block;
  height: 20px;
  margin-right: 0px;
  float: right;
  overflow: hidden;
  text-align: right;
}
customer-order .order-address {
  position: relative;
  left: 8px;
}
customer-order .order-total {
  margin-right: 0px;
}
customer-order section {
  margin-bottom: 20px;
}
customer-order .order-show hr {
  background: #333;
  height: 3px;
}
customer-order .order-show form[name="orderForm"] {
  padding-left: 30px;
  padding-right: 13px;
}
customer-order .order-show form[name="orderForm"] .form-group {
  margin-left: -15px;
  /*margin-bottom: 35px;*/
}
customer-order .order-show form[name="orderForm"] .form-group .multiSelect > button {
  margin-left: -7px;
}
customer-order .order-show form > .control-group {
  margin-bottom: 25px;
  max-width: 345px;
  /*.btn-link {
                margin-left: -15px;
            }*/
}
customer-order .order-show form > .control-group input {
  width: 95%;
}
customer-order .order-show .purchase-doc {
  margin-top: 15px;
}
customer-order .order-show .file-btn {
  margin-top: 15px;
}
customer-order .order-show .quote-address {
  font-weight: normal;
  margin-top: 15px;
}
@media (max-width: 370px) {
  customer-order .kongjian button {
    width: 100%;
  }
  customer-order .order-show form[name="orderForm"] .form-group {
    margin-bottom: 35px;
  }
  customer-order .order-show form[name="orderForm"] .form-group .form-control {
    margin-bottom: 5px;
  }
  customer-order label.control-label.order-info.purchase-info {
    padding-left: 0px;
  }
  customer-order .ctrl-wrap .ctrl-thead {
    display: none;
  }
  customer-order form[name="orderForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-order .ctrl-wrap .Delivery-charge {
    float: left;
    margin-top: -6px;
    padding-left: 16px;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
    text-align: right;
  }
  customer-order .order-total {
    margin-right: 0px;
  }
  customer-order .order-total span {
    width: 90px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-order ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-order ul .list-group-item {
    padding: 10px 15px;
    /*.btn:hover {
                    color: red;
                }*/
  }
  customer-order ul .list-group-item .order-type {
    display: inline-block;
    width: 200px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    text-align: left;
  }
  customer-order ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 115px;
    overflow: hidden;
    height: 26px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 73px;
    float: right;
  }
  customer-order ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-order ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-order ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-order ul .list-group-item .order-sum {
    float: left;
    width: 140px;
    overflow: hidden;
    height: 20px;
    margin-left: 64px;
  }
  customer-order ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-order ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-order .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-order .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  customer-order .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 17px;
  }
  customer-order .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 7px;
    width: 140px;
    overflow: hidden;
  }
  customer-order .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 8px;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  customer-order .order-show form[name="orderForm"] .form-group {
    margin-bottom: 35px;
  }
  customer-order .order-show form[name="orderForm"] .form-group .form-control {
    margin-bottom: 5px;
  }
  customer-order .kongjian button {
    width: 100%;
  }
  customer-order .multiSelect > button {
    width: 100%;
    padding: 1px 0px 1px 8px;
  }
  customer-order .checkboxLayer.show {
    max-width: 90%;
  }
  customer-order .multiSelect .buttonLabel {
    max-width: 365px;
  }
  customer-order label.control-label.order-info.purchase-info {
    padding-left: 0px;
  }
  customer-order .ctrl-wrap .ctrl-thead {
    display: none;
  }
  customer-order form[name="orderForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-order .ctrl-wrap .Delivery-charge {
    float: left;
    margin-top: -6px;
    padding-left: 16px;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
    text-align: right;
  }
  customer-order ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-order ul .list-group-item {
    padding: 10px 15px;
  }
  customer-order ul .list-group-item .order-type {
    width: 200px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    display: block;
    text-align: left;
  }
  customer-order ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 115px;
    overflow: hidden;
    height: 26px;
  }
  customer-order ul .list-group-item .quantity-form {
    position: relative;
    overflow: hidden;
    height: 22px;
    width: 73px;
    float: right;
    top: -25px;
  }
  customer-order ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-order ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-order ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-order ul .list-group-item .order-sum {
    margin-top: 10px;
    width: 140px;
    overflow: hidden;
    height: 20px;
    margin-left: 64px;
  }
  customer-order ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-order ul .list-group-item .btn:hover {
    color: red;
  }
  customer-order ul .list-group-item .btn {
    margin-top: -25px;
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-order .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-order .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 17px;
  }
  customer-order .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 17px;
  }
  customer-order .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 7px;
    width: 140px;
    overflow: hidden;
  }
  customer-order .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 8px;
  }
}
@media (min-width: 768px) {
  customer-order .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 210px;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 80px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-order #price_box {
    margin-top: 18px;
    float: right;
  }
  customer-order .order-show ul .list-group-item .btn {
    margin-top: 16px;
  }
  customer-order .order-show form[name="orderForm"] input[type="email"] {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  customer-order .order-show form[name="orderForm"] input[name="contactName"] {
    width: 300px;
    display: inline-block;
    margin-left: 10px;
  }
  customer-order .order-show form[name="orderForm"] input[name="contactPhone"] {
    width: 300px;
    display: inline-block;
    margin-left: 13px;
  }
  customer-order .order-show form[name="orderForm"] input[name="contactEmail"] {
    margin-left: 12px;
  }
  customer-order .order-show form[name="orderForm"] .row {
    margin-top: 15px;
  }
  customer-order .order-show form[name="orderForm"] .row label {
    width: 175px;
    text-align: left;
  }
  customer-order .order-show form[name="orderForm"] .row .btn-default {
    display: block;
    width: 40px;
    margin-left: 180px;
    margin-top: 5px;
  }
  customer-order .order-show form[name="orderForm"] .row button[type="file"] {
    margin-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  customer-order .file-info {
    position: absolute;
    top: 5px;
    left: 270px;
    width: 400px;
    max-height: 60px;
    overflow: hidden;
  }
  customer-order .order-show form > .control-group .puchase-order-number {
    display: inline-block;
    margin-left: 2px;
    width: 300px;
    position: absolute;
    left: 235px;
    top: -4px;
  }
  customer-order .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 46px;
    overflow: hidden;
    padding-top: 4px;
  }
  customer-order .buttonLabel {
    width: 475px;
  }
  customer-order .order-show form[name="orderForm"] .row .purchase-info {
    padding-left: 20px;
  }
  customer-order .control-group.row.row-fluid.ng-scope {
    margin-left: -20px;
    padding-left: 53px;
  }
  customer-order span.contract-number.ng-binding.ng-scope {
    margin-left: -45px;
    display: inline-block;
  }
  customer-order .checkboxLayer.show {
    margin-left: 30px;
  }
  customer-order .multiSelect .clearButton {
    right: 22px;
  }
  customer-order .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-order .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-good {
    width: 150px;
    text-align: right;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 22px;
    text-align: right;
    margin-left: 78px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
    padding-right: 6px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-operate {
    width: 75px;
    text-align: center;
  }
  customer-order .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 210px;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-order .order-total {
    margin-right: 50px;
  }
  customer-order .order-total span {
    width: 95px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-order ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-order ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-order ul .list-group-item .order-type {
    width: 380px;
    height: 38px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    display: inline-block;
    text-align: left;
  }
  customer-order ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-order ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-order ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-order ul .list-group-item .order-sum {
    display: inline-block;
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    text-align: right;
    margin-right: 20px;
  }
  customer-order ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-order ul .list-group-item .btn:hover {
    color: red;
  }
  customer-order ul .list-group-item .btn {
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-order form[name="orderForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-order form[name="orderForm"] .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  customer-order form[name="orderForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-order form[name="orderForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group label {
    margin-left: 60px;
  }
  customer-order form[name="orderForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-order form[name="orderForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-order form[name="orderForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 0px;
    left: -66px;
    margin-left: 10px;
  }
  customer-order form[name="orderForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  customer-order form[name="orderForm"] .puchase-order-number-wrap {
    margin-left: -43px;
  }
  customer-order form[name="orderForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-order form[name="orderForm"] .control-group {
    margin-left: -15px;
    position: relative;
  }
  customer-order form[name="orderForm"] .control-group .order-address {
    position: relative;
    top: 40px;
    left: 4px;
    padding-left: 15px;
    margin-left: -15px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: 3px;
    left: 164px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 13px;
  }
  customer-order form[name="orderForm"] .control-group .control-number {
    left: 170px;
    top: -3px;
  }
  customer-order .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-order .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 101px;
  }
  customer-order .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 51px;
  }
  customer-order .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 91px;
    width: 140px;
    overflow: hidden;
  }
  customer-order .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 92px;
  }
  customer-order .deliver-info {
    padding-left: 47px;
  }
  customer-order .control-group.row.row-fluid.puchase-order-number-wrap.ng-scope {
    margin-left: -67px;
  }
  customer-order .error-message-con.ng-scope.ng-active {
    left: 552px;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  customer-order .file-info {
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 600px;
    max-height: 41px;
    overflow: hidden;
  }
  customer-order .order-show form > .control-group .puchase-order-number {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
    position: absolute;
    top: -4px;
    left: 180px;
  }
  customer-order .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 46px;
    overflow: hidden;
  }
  customer-order .buttonLabel {
    width: 690px;
    padding-top: 6px;
  }
  customer-order .multiSelect .clearButton {
    right: 14px;
  }
  customer-order .checkboxLayer.show {
    margin-left: 30px;
  }
  customer-order .navbar-form {
    margin-right: -30px;
  }
  customer-order .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-order .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-good {
    width: 160px;
    text-align: right;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 22px;
    text-align: right;
    margin-left: 287px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-order .order-total {
    margin-right: 50px;
  }
  customer-order .order-total span {
    width: 95px;
    margin-right: 0px;
    float: right;
    overflow: hidden;
    height: 20px;
  }
  customer-order form[name="orderForm"].multiSelect .clearButton {
    right: 16px;
  }
  customer-order form[name="orderForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-order form[name="orderForm"] .form-group {
    position: relative;
    margin-bottom: 25px;
  }
  customer-order customer-quote form[name="orderForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 25px;
    left: 6px;
  }
  customer-order ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-order ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-order ul .list-group-item .order-type {
    display: inline-block;
    width: 400px;
    height: 38px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    text-align: left;
  }
  customer-order ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-order ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-order ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-order ul .list-group-item .order-sum {
    display: inline-block;
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    text-align: right;
    margin-right: 20px;
  }
  customer-order ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-order ul .list-group-item .btn:hover {
    color: red;
  }
  customer-order ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-order form[name="orderForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-order form[name="orderForm"] .form-group {
    position: relative;
    margin-left: 0px;
    margin-bottom: 25px;
  }
  customer-order form[name="orderForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-order form[name="orderForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group label {
    margin-left: 68px;
  }
  customer-order form[name="orderForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-order form[name="orderForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 1px;
    left: -10px;
    margin-left: 10px;
  }
  customer-order form[name="orderForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 500px;
  }
  customer-order form[name="orderForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-order form[name="orderForm"] .control-group {
    margin-left: 0px;
    position: relative;
    margin-left: 38px;
  }
  customer-order form[name="orderForm"] .control-group .order-address {
    position: relative;
    top: 40px;
    left: -35px;
    margin-left: -15px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: 2px;
    left: 157px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 25px;
  }
  customer-order form[name="orderForm"] .control-group .control-number {
    left: 158px;
    top: -3px;
  }
  customer-order .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-order .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 100px;
  }
  customer-order .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 50px;
  }
  customer-order .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 90px;
    width: 140px;
    overflow: hidden;
  }
  customer-order .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 71px;
    position: absolute;
    right: 91px;
  }
  customer-order span.contract-number.ng-binding.ng-scope {
    margin-left: -44px;
  }
  customer-order label.control-label.order-info.purchase-info {
    padding-left: 74px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: -28px;
  }
  customer-order .control-group.row.row-fluid.puchase-order-number-wrap.ng-scope {
    margin-left: -8px;
  }
  customer-order .error-message-con.ng-scope.ng-active {
    left: 494px;
    width: 90%;
  }
}
@media (min-width: 1170px) {
  customer-order .file-info {
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 700px;
  }
  customer-order .buttonLabel {
    width: 790px;
    padding-top: 4px;
  }
  customer-order .multiSelect .buttonLabel {
    white-space: normal;
    word-break: break-word;
    max-height: 46px;
    overflow: hidden;
  }
  customer-order .puchase-order-number-wrap {
    margin-left: -43px;
  }
  customer-order .order-show form[name="orderForm"] .delivery-wrap {
    margin-left: 3px;
  }
  customer-order label.control-label.order-info.purchase-info {
    /* margin-left: 45px; */
    padding-left: 71px;
  }
  customer-order span.contract-number.ng-binding.ng-scope {
    margin-left: -42px;
  }
  customer-order label.control-label.order-info {
    margin-left: 50px;
  }
  customer-order .order-show form > .control-group .puchase-order-number {
    display: inline-block;
    margin-left: 3px;
    width: 300px;
    position: absolute;
    left: 230px;
    top: -4px;
  }
  customer-order .multiSelect .clearButton {
    right: 16px;
  }
  customer-order .checkboxLayer.show {
    margin-left: 30px;
  }
  customer-order .multiSelect .helperContainer {
    padding: 8px 0px 0px 0px;
  }
  customer-order .ctrl-wrap .ctrl-thead {
    display: block;
    height: 33px;
    line-height: 32px;
    margin: 0 0 10px;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
  }
  customer-order .ctrl-wrap .ctrl-thead div {
    float: left;
    font-weight: bold;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-good {
    width: 250px;
    text-align: center;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-price {
    width: 220px;
    padding-right: 22px;
    text-align: right;
    margin-left: 427px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-quantity {
    width: 80px;
    text-align: center;
    margin-left: 22px;
  }
  customer-order .ctrl-wrap .ctrl-thead .column-sum {
    width: 120px;
    padding-right: 24px;
    text-align: right;
  }
  customer-order .ctrl-wrap .Delivery-charge {
    position: absolute;
    margin-top: -6px;
    right: 205px;
  }
  customer-order .ctrl-wrap .Delivery-charge span {
    position: relative;
    width: 95px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    top: 6px;
  }
  customer-order .control-group.row.row-fluid.form-group.purchase-doc.ng-scope {
    margin-left: 0px;
  }
  customer-order form[name="orderForm"] .control-group > btn-link {
    position: relative;
    top: 25px;
    left: 30px;
  }
  customer-order form[name="orderForm"] .control-group {
    /*margin-left: -15px;*/
    position: relative;
  }
  customer-order form[name="orderForm"] .control-group .order-address {
    position: relative;
    top: 15px;
    left: 193px;
    margin-left: -15px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope {
    position: absolute;
    top: -2px;
    left: 150px;
  }
  customer-order form[name="orderForm"] .control-group .ng-isolate-scope span > .ng-binding {
    margin-left: 30px;
  }
  customer-order form[name="orderForm"] .control-group .control-number {
    left: 150px;
    top: -3px;
  }
  customer-order form[name="orderForm"] .form-group:nth-of-type(4) {
    margin-top: -13px;
  }
  customer-order form[name="orderForm"] .form-group {
    margin-left: 0px;
    margin-bottom: 25px;
    position: relative;
  }
  customer-order form[name="orderForm"] .form-group .contact-name {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group .quote-address {
    font-weight: bold;
    margin-left: 50px;
  }
  customer-order form[name="orderForm"] .form-group .contact-email {
    padding-left: 7px;
  }
  customer-order form[name="orderForm"] .form-group label {
    margin-left: 81px;
  }
  customer-order form[name="orderForm"] .form-group .order-info {
    margin-left: 0px;
  }
  customer-order form[name="orderForm"] .form-group .ng-isolate-scope {
    position: absolute;
    top: 12px;
    left: 180px;
  }
  customer-order form[name="orderForm"] .form-group button.btn.btn-link {
    position: relative;
    top: 0px;
    left: -12px;
    font-size: 14px;
    margin-left: 10px;
  }
  customer-order form[name="orderForm"] .ng-active {
    position: absolute;
    top: 0px;
    left: 510px;
  }
  customer-order .order-total span {
    width: 95px;
    display: inline-block;
    height: 20px;
  }
  customer-order ul li:after {
    content: "020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  customer-order ul .list-group-item {
    padding: 10px 15px;
    position: relative;
  }
  customer-order ul .list-group-item .order-type {
    display: inline-block;
    width: 400px;
    height: 38px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 5px;
    margin-top: 18px;
    text-align: left;
  }
  customer-order ul .list-group-item .order-price {
    padding-left: 5px;
    margin-right: 4px;
    width: 75px;
    overflow: hidden;
    height: 26px;
    position: absolute;
    right: 300px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form {
    position: absolute;
    overflow: hidden;
    height: 22px;
    width: 73px;
    right: 210px;
    margin-top: 18px;
    display: inline-block;
  }
  customer-order ul .list-group-item .quantity-form .decrement {
    border: 1px solid #cacbcb;
    border-right: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
  }
  customer-order ul .list-group-item .quantity-form #quantity {
    position: absolute;
    left: 16px;
    top: 0;
    border: 1px solid #cacbcb;
    width: 42px;
    height: 22px;
    line-height: 18px;
    text-align: center;
    padding: 1px;
    margin: 0;
    font-size: 12px;
    font-family: verdana;
    color: #333;
    -webkit-appearance: none;
  }
  customer-order ul .list-group-item .quantity-form .increment {
    float: right;
    border-right: 0;
    border: 1px solid #cacbcb;
    border-left: 0;
    height: 22px;
    line-height: 20px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
  }
  customer-order ul .list-group-item .order-sum {
    width: 95px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    right: 80px;
    margin-top: 18px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
  }
  customer-order ul .list-group-item .img-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #efefef;
  }
  customer-order ul .list-group-item .btn:hover {
    color: red;
  }
  customer-order ul .list-group-item .btn {
    padding: 2px 6px;
    border-radius: 4px;
    width: 73px;
    margin-left: auto;
    margin-right: auto;
    float: right;
  }
  customer-order .ctrl-wrap .cart_money {
    position: relative;
    height: 100px;
  }
  customer-order .ctrl-wrap .cart_money .Delivery-charge {
    position: absolute;
    top: 0px;
    right: 100px;
  }
  customer-order .ctrl-wrap .cart_money .order-total {
    position: absolute;
    top: 25px;
    right: 99px;
  }
  customer-order .ctrl-wrap .cart_money .order-total span {
    width: 95px;
    text-align: right;
    display: inline-block;
    height: 20px;
  }
  customer-order .ctrl-wrap .cart_money .order-gst {
    position: absolute;
    top: 50px;
    right: 89px;
    width: 140px;
    overflow: hidden;
  }
  customer-order .ctrl-wrap .cart_money .order-amount {
    width: 160px;
    top: 75px;
    position: absolute;
    right: 90px;
  }
  customer-order .puchase-order-number-wrap {
    margin-left: -43px;
  }
  customer-order .error-message-con.ng-scope.ng-active {
    left: 540px;
    width: 100%;
  }
}
form[name="addressForm"] > .form-group {
  margin-bottom: 0px;
}
form[name="addressForm"] > .form-group input {
  margin-bottom: 5px;
}