<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PdfPath" value="/files/PODoc" />
    <!-- Mail Server -->
    <add key="SmtpServer" value="smtp.163.com" />
    <add key="Port" value="25" />
    <add key="IsBodyHtml" value="true" />
    <add key="FromMail" value="test20131313@163.com" />
    <add key="Username" value="test20131313" />
    <add key="Password" value="test_20131313" />
    <!-- Report -->
    <add key="Template_JobQuote" value="/Templates/JobQuote/index.html" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>