.login-bgd {
  background: url(../../../Content/images/bd.jpg);
  background-size: cover;
  /*margin-left:7px;*/
  height: 650px;
}
.account-title > a:hover {
  color: #337ab7;
}
.login-bgd .login-p {
  color: #fff;
  margin-top: 35px;
  margin-bottom: 45px;
}
.header-right .header-right-login {
  margin-right: 15px;
}
.card-info a {
  color: #000;
}
.header-login .account-title {
  text-align: center;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}
.header-login .account-title span {
  border: 1px solid #f5f5f5;
  text-decoration: none;
  display: block;
  background: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #848484;
  cursor: pointer;
}
.login_form {
  margin-top: 43px;
}
.login-main .login_form p > input {
  z-index: 8;
  display: block;
  padding: 7px 28px;
  height: 40px;
  width: 90%;
  font-size: 14px;
  color: #666;
  transition: .3s;
  line-height: 26px;
  background: #efefef;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.login-main .login_form p > input:focus + .login_icon {
  color: #4688db;
}
.login-main .login_form p {
  height: 65px;
}
.login-main .login_form p > .login_icon {
  position: absolute;
  width: 34px;
  height: 34px;
  line-height: 34px;
  z-index: 9;
  pointer-events: none;
  display: block;
  left: 26px;
  top: 3px;
  color: #d3d3d3;
}
.login-main .login_form p > .error {
  margin-left: 18px;
  display: block;
  margin-top: 5px;
  color: red;
  height: 20px;
}
.login-main .login_form .btn {
  display: block;
  width: 98%;
  height: 40px;
  margin: 35px auto;
  font-size: 16px;
  font-weight: bold;
}
.login-main .register {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}
@media only screen and (max-width: 351px) {
  .login-bgd .login_main_wrap {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login-bgd .login-p {
    display: none;
  }
  .login-bgd .login_arrow {
    display: none;
  }
  .login-main {
    background: #fff;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 88%;
    margin-top: 120px;
  }
  .login-main .login_form .btn {
    width: 88%;
  }
}
@media (min-width: 352px) and (max-width: 767px) {
  .login-bgd .login_main_wrap {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login-bgd .login-p {
    display: none;
  }
  .login-bgd .login_arrow {
    display: none;
  }
  .login-main .login_form .btn {
    width: 90%;
  }
  .header-login {
    width: 352px;
    height: 352px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .login-bgd .login_main_wrap {
    position: relative;
  }
  .header-login {
    width: 352px;
    height: 352px;
    position: absolute;
    top: 120px;
    right: 10px;
    background: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  .login-bgd .login-p {
    margin-left: 10px;
    position: absolute;
    top: 150px;
    font-size: 24px;
    width: 350px;
    height: 68px;
    overflow: hidden;
  }
  .login-bgd .login_arrow {
    position: absolute;
    top: 280px;
    left: 180px;
  }
  .login-main .login_form .btn {
    width: 310px;
  }
}
@media (min-width: 992px) and (max-width: 1169px) {
  .login-bgd {
    margin-left: 0px;
  }
  .login_arrow {
    position: absolute;
    left: 350px;
    top: 270px;
  }
  .login-bgd .login-p {
    position: absolute;
    top: 150px;
    font-size: 27px;
    width: 400px;
    left: 50px;
  }
  .login-main {
    position: absolute;
    right: 0px;
  }
  .login-main .login_form .btn {
    width: 310px;
  }
  .header-login {
    position: absolute;
    width: 352px;
    height: 352px;
    background: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    right: 60px;
    top: 120px;
  }
}
@media (min-width: 1170px) {
  .account-title > a:hover {
    color: #337ab7;
  }
  section {
    margin-bottom: 120px;
  }
  .header-login {
    width: 352px;
    height: 352px;
    position: absolute;
    background: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 999;
    top: 120px;
    right: 0px;
  }
  .login-main .login_form .btn {
    width: 310px;
  }
  .login-bgd .login-p {
    color: #fff;
    width: 450px;
    margin-left: 50px;
    left: 100px;
    position: absolute;
    word-break: break-word;
    font-size: 30px;
    top: 170px;
  }
  .login_main_wrap {
    margin: 0px auto 100px auto;
    position: relative;
  }
  .login_main_wrap .login_arrow {
    display: inline-block;
    position: absolute;
    left: 534px;
    top: 280px;
  }
}